<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W3 Practice</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <div class="top">
            <span> Home</span>
            <span>About</span>
            <span>Portfolio</span>
            <span>Contact</span>
        </div>
        <div class="middle">
            <h2>Welcome to my website!</h2>
        </div>
       
    </div>
    <div class="content">
        <h1>
            ABOUT ME
        </h>
        <h3>
            <i>I love photography!</i>
        </h3>
        <p>
            We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="article">
        <img  class="abc" src="https://www.w3schools.com/w3images/avatar_hat.jpg" height="230px" width="300px">
        <p class="cartivle">Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
    </div>
    <p class="good">I am really good at: </p>
    <div class="nav">
        <div class="nav-next">
            <div class="container">
                <p>14+<br>
                Partners</p>
            </div>
            <div class="container">
                <p>50+<br>
                    Projects Done</p>
            </div>
            <div class="container">
                <p>90+<br>
                    Happy Costumer</p>
            </div>
            <div class="container">
                <p>150+<br>
                    Meetings</p>
            </div>
        </div>
    </div>
    <p class="work">MY WORK</p>
    <p class="here">Here are som Lorem ipsum dolor sit amet, consectetur adipisicing
    </p>
    <p class="click"><i>Click the images to get bigger.</i> </p>
    <div></div>
</body>
</html>

